<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chanko v0.1</title>
    <link rel="icon" type="image/x-icon" href="icons/kitchen-set-solid.svg">
    <link rel="stylesheet" href="res/css/bulma.min.css">
    <link rel="stylesheet" href="res/css/custom.css">
  </head>
  <script src="res/script/search.js"></script>
  <body class="has-navbar-fixed-top">
    <nav class="navbar is-transparent is-fixed-top has-border-shadow">
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control has-icons-right">
            <input class="input" type="text" id="search" placeholder="Search by name, or tags">
            <button class="icon is-right" id="clear-search">
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Backspace</title><path d="M135.19 390.14a28.79 28.79 0 0021.68 9.86h246.26A29 29 0 00432 371.13V140.87A29 29 0 00403.13 112H156.87a28.84 28.84 0 00-21.67 9.84v0L46.33 256l88.86 134.11z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M336.67 192.33L206.66 322.34M336.67 322.34L206.66 192.33M336.67 192.33L206.66 322.34M336.67 322.34L206.66 192.33"></path></svg>
            </button>
          </div>
          <div class="control">
            <a class="button is-dark">
              <b>Random Recipe</b>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <section class="section pb-0" id="no-js-warning">
      <div class="notification is-danger">
        <p class="is-bold">
          Searching and tags won't work correctly without JavaScript enabled!
        </p>  
      </div>
    </section>
    <section class="section" id="recipesection">
      {"".join([div.render() for div in self.recipebox_column_divs])}
    </section>
    <section class="section pt-0" id="tagsection">
      <h1 class="title">Tags</h1>
      <div class="tags are-medium">
        {"".join([span.render() for span in self.tag_button_spans])}
      </div>
    </section>
  </body>
</html>
