.is-rounded-cornered {
    border-radius: 5px;
}

.is-bold {
    font-weight: bold;
}

.is-fitted {
    object-fit: cover;
}

.has-border-shadow {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none !important;
}
