.is-rounded-cornered {
    border-radius: 5px;
}

.is-bold {
    font-weight: bold;
}

.is-fitted {
    object-fit: cover;
}

.has-border-shadow {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none !important;
}

button#clear-search {
    all: unset;
    position: absolute;
    right: 4px;
    top: 7px;
    height: 25px;
    width: 25px;
    color: #dfdfdf;
    cursor: pointer;
    transition: color 180ms ease-in-out;
}
button#clear-search:hover {
    color: #000;
}
